<template>
    <lightning-card  variant="Narrow"  title="Employee List" icon-name="custom:custom12">
    <ul>
        <template if:true={empDetails} for:each={empDetails} for:item="emp">
        <li key={emp.name} style="padding: 10px;">
                <c-emp-details emp-detail={emp}></c-emp-details>
        </li>
    </template>
    </ul>
    </lightning-card>
</template>