<template>
    <lightning-card  title="Create Record" icon-name="standard:account">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <div class="myForm">
                    <lightning-input type="text" variant="standard" name="name"  value={form.name}  onchange={inputChangeHandler} label="Name" placeholder="type here..."></lightning-input>
                    <lightning-input type="number" variant="standard" name="phone" value={form.phone}  onchange={inputChangeHandler} label="Phone" placeholder="type here..."></lightning-input>
                    <lightning-input type="email" variant="standard" name="email" value={form.email}  onchange={inputChangeHandler} label="Email" placeholder="type here..."></lightning-input>
                    <br>
                    <lightning-button variant="neutral" label="Create" title="Create" onclick={createRecord}></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>