<template>
    <lightning-card  variant="Narrow"  title="Child to Parent Communication">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <c-child-comp-cp onmycustomevent={myEventHandler}></c-child-comp-cp>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <p class="slds-var-p-horizontal_small">This message is coming from child via HTML markup: {htmlMsg}</p>
                <p class="slds-var-p-horizontal_small">This message is coming from child via Js eventlistener: {jsMsg}</p>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>