<template>
    <lightning-card title="Record Edit Form" icon-name="custom:custom34">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small" >
                <lightning-record-edit-form id="recordViewForm"
                            record-id={recordId}
                            object-api-name="Contact">
                    <lightning-messages></lightning-messages>
                    <lightning-output-field field-name="AccountId" ></lightning-output-field>
                    <lightning-input-field field-name="FirstName"></lightning-input-field>
                    <lightning-input-field field-name="LastName"></lightning-input-field>
                    <lightning-input-field field-name="Birthdate"></lightning-input-field>
                    <lightning-input-field field-name="Phone"></lightning-input-field>
                    <!--Picklist-->
                    <lightning-input-field field-name="Level__c"></lightning-input-field>
                    <!-- submit -->
                    <lightning-button class="slds-m-top_small"  variant="brand" type="submit" label="Update record"></lightning-button>
                </lightning-record-edit-form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>