<!-- sldsValidatorIgnore -->
<template>
    <lightning-quick-action-panel header="Edit Fields Action">
        <!-- <lightning-record-edit-form record-id={recordId}
                                    object-api-name={objectApiName}
                                    onsuccess={handleSuccess}>
            <lightning-output-field field-name="recordId"></lightning-output-field>
            <lightning-input-field field-name="Name"></lightning-input-field>
            <lightning-button variant="neutral" label="Cancel"></lightning-button>
            <lightning-button variant="brand" class="slds-m-left_x-small" label="Save" type="submit"></lightning-button>
        </lightning-record-edit-form> -->
 
        <lightning-spinner alternative-text="Loading" size="small" if:true={isSpinner} ></lightning-spinner>
        <div class="slds-m-around_small">
            <lightning-input onchange={changeEvent} type="text" value={newName} variant="standard" name="name" label="Flow URL Name" placeholder="type here..."></lightning-input>
        </div>

        <div slot="footer">
            <lightning-button variant="neutral" label="Cancel" onclick={closeAction} ></lightning-button>
            <lightning-button variant="brand" label="Save" class="slds-m-left_x-small" onclick={saveAction} ></lightning-button>
        </div>
     
    </lightning-quick-action-panel>
</template>