<template>
    <lightning-card   title="Toast Notifications" >
        <lightning-button-group>
            <lightning-button label="Success" onclick={handleSuccess} ></lightning-button>
            <lightning-button label="Error"   onclick={handleError} ></lightning-button>
            <lightning-button label="Info"    onclick={handleInfo} ></lightning-button>
            <lightning-button label="Warning" onclick={handleWarning} ></lightning-button>
        </lightning-button-group>
    </lightning-card>  
</template>