<template>
    <lightning-card  title="Lightning Record View Form" icon-name="custom:custom43">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small" >
                <lightning-record-view-form
                            record-id={recordId}
                            object-api-name="Contact">
                    <div class="slds-box slds-theme_default">
                        <lightning-output-field field-name="Name"></lightning-output-field>
                        <lightning-output-field field-name="Phone"></lightning-output-field>
                        <lightning-output-field field-name="Email"></lightning-output-field>
                        <lightning-output-field field-name="Birthdate"></lightning-output-field>
                        <lightning-output-field field-name="LeadSource"></lightning-output-field>
                    </div>
                </lightning-record-view-form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>