<template>
    <lightning-card  variant="Narrow"  title="Parent to Child Communication" >
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small" >
                <div class="custom-box">
                    <lightning-input type="text" variant="standard" name="name" label="Enter Text" placeholder="type here..." onchange={handleChange}></lightning-input>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <c-child-comp-pc></c-child-comp-pc>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>