<template>
    <div class="slds-var-p-around_medium lc">
        <lightning-tile label={empDetail.name}>
            <p title={empDetail.address}>
                Employee Adress: {empDetail.address}
            </p>
        </lightning-tile>
    </div>
</template>