<template>
    <lightning-card  variant="Narrow"  title="Simple Interest Calculator" icon-name="custom:custom19">
    <div class="slds-box slds-p-around_none slds-var-m-top_x-small slds-var-m-bottom_medium slds-m-horizontal_none">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                    <lightning-input type="text" variant="standard" name="principal" label="principal" value={siInputs.principal} onchange={siInputHandler} ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                    <lightning-input type="text" variant="standard" name="time" label="time" value={siInputs.time} onchange={siInputHandler} ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                    <lightning-input type="text" variant="standard" name="rate" label="rate" value={siInputs.rate} onchange={siInputHandler} ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-button variant="neutral" label="calculate" title="calculate" onclick={calculateInterest}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                    <lightning-formatted-text value={simpleInterest}></lightning-formatted-text>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</lightning-card>
</template>