<template>
    <lightning-card  title="Get Record" icon-name="standard:account">
        <lightning-layout if:false={created} >
            <lightning-layout-item size="12" padding="around-small">
                <div class="myForm">
                    <lightning-input type="text" variant="standard" name="name"  value={form.name}  onchange={inputChangeHandler} label="Name" placeholder="type here..."></lightning-input>
                    <lightning-input type="number" variant="standard" name="phone" value={form.phone}  onchange={inputChangeHandler} label="Phone" placeholder="type here..."></lightning-input>
                    <lightning-input type="email" variant="standard" name="email" value={form.email}  onchange={inputChangeHandler} label="Email" placeholder="type here..."></lightning-input>
                    <br>
                    <lightning-button variant="neutral" label="Create" title="Create" onclick={createRecord}></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout if:true={created} >
            <lightning-layout-item size="12" padding="around-small">
                <div class="outputData">
                    <p> <strong>Name</strong>: <lightning-formatted-text value={getName} ></lightning-formatted-text></p>
                    <p> <strong>Phone</strong>:  <lightning-formatted-text value={getPhone} ></lightning-formatted-text></p>
                    <p> <strong>Email</strong>:  <lightning-formatted-text value={getEmail}  ></lightning-formatted-text></p>
                    <br>
                    <lightning-button variant="neutral" label="New" title="New" onclick={newRecord}></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>