<template>
    <lightning-card title="Record create and view" icon-name="custom:custom22">
        <lightning-layout>
            <lightning-layout-item if:true={create} size="12" padding="around-medium">
                <lightning-record-edit-form id="recordViewForm"
                            object-api-name="Contact"
                            onsuccess={createContact}>
                     <lightning-input-field field-name="Name"></lightning-input-field>
                    <lightning-input-field field-name="Phone"></lightning-input-field>
                    <lightning-input-field field-name="Email"></lightning-input-field>
                    <lightning-input-field field-name="Birthdate"></lightning-input-field>
                    <!--Picklist-->
                    <lightning-input-field field-name="Level__c"></lightning-input-field>
                    <!-- submit -->
                    <lightning-button type="submit" label="Create contact"></lightning-button>
                </lightning-record-edit-form>
            </lightning-layout-item>

            <lightning-layout-item if:false={create} size="12" padding="around-medium">
                <lightning-record-view-form
                            record-id={recordId}
                            object-api-name="Contact">
                    <div class="slds-box slds-theme_default">
                        <lightning-output-field field-name="Name"></lightning-output-field>
                        <lightning-output-field field-name="Phone"></lightning-output-field>
                        <lightning-output-field field-name="Email"></lightning-output-field>
                        <lightning-output-field field-name="Birthdate"></lightning-output-field>
                        <lightning-output-field field-name="Level__c"></lightning-output-field>
                        <br>
                        <lightning-button variant="brand" label="New" title="New" onclick={handleClick}></lightning-button>
                    </div>
                </lightning-record-view-form>
            </lightning-layout-item>

        </lightning-layout>
    </lightning-card>
</template>