<template>
    <lightning-card title="Navigation Services" icon-name="custom:custom6">
       
        <lightning-card title="Navigate to Record Pages">
            <lightning-button-group class="slds-m-horizontal_small">
                <lightning-button label="New Record"  onclick={navigateToNewRecordPage}  ></lightning-button>
                <lightning-button label="Edit Record" onclick={navigateToEditRecordPage} ></lightning-button>
                <lightning-button label="View Record" onclick={navigateToViewRecordPage} ></lightning-button>
            </lightning-button-group>
        </lightning-card> <br>

        <lightning-card title="Naviagtion to Views">
            <lightning-button-group class="slds-m-horizontal_small">
                <lightning-button label="Recent List View"  onclick={navigateToRecentListView}  ></lightning-button>
                <lightning-button label="Related List View" onclick={navigateToRelatedListView} ></lightning-button>
            </lightning-button-group>
        </lightning-card> <br>

        <lightning-card title="Naviagtion to Object Page">
            <lightning-button-group class="slds-m-horizontal_small">
                <lightning-button label="Opportunites"  onclick={navigateToOpp}  ></lightning-button>
                <lightning-button label="Leads" onclick={navigateToLeads} ></lightning-button>
            </lightning-button-group>
        </lightning-card> <br>

        <lightning-card title="Naviagtion to Web Page">
            <lightning-button-group class="slds-m-horizontal_small">
                <lightning-button label="Trail Head"  onclick={navigateToTrailHead}  ></lightning-button>
            </lightning-button-group>
        </lightning-card> <br>

        <lightning-card title="Naviagtion to Standard Home Tabs">
            <lightning-button-group class="slds-m-horizontal_small">
                <lightning-button label="Home"  onclick={navigateToHomePage}  ></lightning-button>
                <lightning-button label="Chatter" onclick={navigateToChatterPage} ></lightning-button>
            </lightning-button-group>
        </lightning-card> <br>

    </lightning-card>
</template>