<template>
    <lightning-card  title="Lightning Record Form" icon-name="custom:custom43">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small" >
              
                <lightning-record-form 
                        record-id={recordId} 
                        object-api-name="Contact" 
                        layout-type="Compact" 
                        mode="view"></lightning-record-form>

          
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>