<template>
    <lightning-card title="Record Create Form" icon-name="custom:custom22">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-medium" >
                <lightning-record-edit-form id="recordViewForm"
                            object-api-name="Contact">
                    <lightning-messages></lightning-messages>
                    <lightning-input-field field-name="FirstName"></lightning-input-field>
                    <lightning-input-field field-name="LastName"></lightning-input-field>
                    <lightning-input-field field-name="Birthdate"></lightning-input-field>
                    <lightning-input-field field-name="Phone"></lightning-input-field>
                    <!--Picklist-->
                    <lightning-input-field field-name="Level__c"></lightning-input-field>
                    <!-- submit -->
                    <lightning-button type="submit" label="Create Record"></lightning-button>
                </lightning-record-edit-form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>