<template>

    <!-- printing lists using iterator  -->
    <lightning-card  variant="Narrow"  title="iterator" icon-name="custom:custom10">
        <div class="slds-var-m-around_medium">
        <template if:true={opportunities} iterator:opp={opportunities}>
            <li key={opp.value.Id}>
                <div if:true={opp.first} class="list-first"></div>
                    <!--{opp.value.propertyName}-->
                    {opp.value.name} is {opp.value.status} on {opp.value.date}
                <div if:true={opp.last} class="list-last"></div>
            </li>
        </template>
        </div>
    </lightning-card>  <br>

    <!-- printing list using for each  -->
    <lightning-card  variant="Narrow"  title="For Each" icon-name="custom:custom10">
        <div class="slds-var-m-around_medium">
            <template for:each={opportunities} for:item="opp"> 
                <li key={opp.id}>{opp.name} is {opp.status} on {opp.date}  </li>
            </template>
        </div>
    </lightning-card> <br>
   
    <!-- conditional rendering using if else -->
    <lightning-card  variant="Narrow"  title="Conditional Input" icon-name="custom:custom11">
        <div class="slds-var-m-around_medium" if:true={input} >
            <p>Hello, {greeting.name}! <br>Age: {greeting.age} <br>Phone: {greeting.phone} </p>
            <lightning-button variant="neutral" label="change" title="change" onclick={handleChange}></lightning-button>
        </div>
        <div class="slds-var-m-around_medium" if:false={input}>
            <lightning-input label="Name" value={greeting.name} name="name" onchange={changeHandler}></lightning-input>
            <lightning-input label="Age" value={greeting.age} name="age" onchange={changeHandler}></lightning-input>
            <lightning-input label="Phone" value={greeting.phone} name="phone" onchange={changeHandler}></lightning-input>
            <br>
            <lightning-button variant="success" label="submit" title="submit" onclick={handleInput}></lightning-button> &nbsp;&nbsp;
            <lightning-button variant="moderate" label="clear" title="clear" onclick={handleClear}></lightning-button>
        </div>
    </lightning-card> <br>

    <!-- if else directive simple even or odd check  -->
    <lightning-card  variant="Narrow"  title="Condtional Test" icon-name="custom:custom12">
        <div class="slds-var-m-around_medium">
            <p if:true={even} >{number} is even </p>
            <p if:false={even} >{number} is odd </p>
            <lightning-input label="number" value={number} name="number" onchange={numberHandler}></lightning-input>
        </div>
    </lightning-card> <br>

    <!-- Basic hello greeting card -->
    <lightning-card  variant="Narrow"  title="InputTest" icon-name="custom:custom14">
        <div class="slds-var-m-around_medium">
            <p>Hello, {greeting.name}! <br>Age: {greeting.age} <br>Phone: {greeting.phone} </p>
            <lightning-input label="Name" value={greeting.name} name="name" onchange={changeHandler}></lightning-input>
            <lightning-input label="Age" value={greeting.age} name="age" onchange={changeHandler}></lightning-input>
            <lightning-input label="Phone" value={greeting.phone} name="phone" onchange={changeHandler}></lightning-input>
        </div>
        <p slot="footer">Card Footer</p>
    </lightning-card>

</template>