<template>
    <div class="custom-box">
        <lightning-input type="text" variant="standard" name="name" label="Enter Text" placeholder="type here..." onchange={handleChange}></lightning-input>
    </div>
</template>