<template>
    <div class="listing">
        <c-todo-item item-name="Milk"></c-todo-item>
        <c-todo-item item-name="Chocolate"></c-todo-item>
        <c-todo-item item-name="Biscuit"></c-todo-item>
        <c-todo-item item-name="Candy"></c-todo-item>
    </div>
</template>