<template>
    <lightning-card title="Color Subscriber">
        <lightning-layout-item flexibility="grow">
            <div class="templateBodyClass" style={colorStyle}></div>
        </lightning-layout-item>
    </lightning-card>
</template>